/** Easy Tree style */
.easy-tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.easy-tree > ul {
    padding-left: 15px;
}

.easy-tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}

.easy-tree li::before, .easy-tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}

.easy-tree li::before {
   border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.easy-tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.easy-tree li > span {
   -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}

.easy-tree li.parent_li > span {
    cursor:pointer
}


.easy-tree > ul > li::before, .easy-tree > ul > li::after {
    border: 0
}

.easy-tree li:last-child::before {
    height: 30px
}

.easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
     background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.easy-tree li.parent_li > span:hover + ul li.li_selected span {
    background: #e5e2e1;
    color: #e56155;
}

.easy-tree li > span > a {
    color: #fff;
    text-decoration: none;
}
.easy-tree li > span > a:hover {
    color: #8A4500;
    text-decoration: none;
    background: #FFCB97;
}
.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
    margin-right: 5px;
}

.easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
    background: #e5e2e1;
    color: #e56155;
}

.easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
    background: #fafafa;
    color: #ff6c60;
}

.easy-tree .easy-tree-toolbar {
    background-color: #fff;
}

.easy-tree .easy-tree-toolbar > div {
    display: inline-block;
}

.easy-tree .easy-tree-toolbar > div > button {
    border-radius: 0;
    margin: 20px 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group {
    top: -15px;
    margin-left: 5px;
    margin-right: 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group input {
    border-radius: 0;
}

.easy-tree .easy-tree-toolbar .create .input-group button {
    border-radius: 0;
}